.square {
width: 80px;
height: 80px;
margin: 30px auto;
background-color: #8BC34A;

animation-name: spin;

animation-duration: 2s;

}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}